<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" class="m-0 p-0 w-full h-screen">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>
	<script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/chartjs-chart-financial@0.1.0/dist/chartjs-chart-financial.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@2.2.1/dist/chartjs-plugin-annotation.min.js"></script>
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" href="css/check-switch-style.css">
</head>

<body class="flex flex-col m-0 p-0 h-screen min-w-[980px] w-full overflow-x-auto">
	<div th:insert="~{fragments/common/header :: header-template}" th:with="extraClass='min-w-[980px]'"></div>
	<main class="container mx-auto px-5 flex flex-row flex-1 min-w-[980px] ">
		<!--	左側のボタンと一覧リスト-->
		<section class="text-gray-600 body-font w-1/3 my-4 border-2 rounded-lg border-gray-300 border-opacity-50">
			<!--一覧リスト-->
			<div th:insert="~{fragments/stock/stock-show :: stock-show-template}"></div>
		</section>
		<!--右側の当日情報、グラフ、出来高-->
		<section class="text-gray-600 body-font w-2/3 px-4 pt-4 pb-6 h-full flex flex-col">
			<!--当日情報-->
			<div th:insert="~{fragments/stock/today-information :: today-information-template}"></div>
			<!--ローソクと出来高-->
			<div class="flex-grow" th:insert="~{fragments/stock/graph-volume-show :: graph-volume-show-template}"></div>
		</section>
	</main>
	<div th:insert="~{fragments/common/footer :: footer-template}"></div>
	<script type="module" src="/js/technical-dropdown.js" defer></script>
	<script type="module" src="/js/candlestick.js" defer></script>
	<script type="module" src="/js/stocks-row-fetch.js" defer></script>
	<script type="module" src="/js/config/stock-config.js" defer></script>
	<script type="module" src="/js/pen-eraser-switch.js" defer></script>
</body>

</html>