<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" style="width: 100vw;">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" href="css/radio-switch-style.css">
</head>

<body class="flex flex-col min-h-screen min-w-[980px] w-full overflow-x-auto">
	<div th:insert="~{fragments/common/header :: header-template}" th:with="extraClass='min-w-[980px]'"></div>
	<main class="flex-grow container mx-auto p-5 flex flex-row min-w-[980px] ">
		<!--	左側のボタンと一覧リスト-->
		<section class="text-gray-600 body-font w-1/3 my-4 border-2 rounded-lg border-gray-200 border-opacity-50">
			<!--一覧リスト-->
			<div th:insert="~{fragments/stock/stock-show :: stock-show-template}"></div>
		</section>
		<!--右側の当日情報、グラフ、出来高-->
		<section class="text-gray-600 body-font w-2/3 pl-4 py-4">
			<!--当日情報-->
			<div th:insert="~{fragments/stock/today-information :: toady-information-template}"></div>
			<!--ローソクと出来高-->
			<div th:insert="~{fragments/stock/graph-volume-show :: graph-volume-show-template}"></div>
		</section>
	</main>
	<div th:insert="~{fragments/common/footer :: footer-template}"></div>
	<script src="/js/technical-dropdown.js" defer></script>
</body>

</html>