<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" class="m-0 p-0 w-full h-screen">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Trade-log</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" href="css/check-switch-style.css">
</head>

<body class="flex flex-col m-0 p-0 h-screen min-w-[980px] w-full overflow-x-auto">
	<div th:insert="~{fragments/common/header :: header-template}" th:with="extraClass='min-w-[980px]'"></div>
	<main class="container mx-auto px-5 flex flex-row flex-1 min-w-[980px] ">
		<div class="flex flex-row rounded-lg pt-2 pl-3 w-full justify-center">
			<div th:insert="~{fragments/order/trade-log-show :: trade-log-show-template}"></div>
		</div>
	</main>
	<div th:insert="~{fragments/common/footer :: footer-template}"></div>
	<script type="module" src="/js/trade-filter.js" defer></script>
</body>

</html>