<!--ローソクなどのボタンとグラフと出来高のグラフのテンプレート-->
<div th:fragment="graph-volume-show-template" class="h-full">
	<div id="graphInformation" class="w-full h-full mt-2">
		<div class="flex border-2 rounded-lg border-gray-300 border-opacity-50 flex-col px-2 w-full h-full">
			<div class="flex items-center items-stretch flex-row mt-1">
				<!--ローソク-->
				<div class="relative">
					<select id="candleSelector" class="rounded border appearance-none border-gray-300 py-1 focus:outline-none focus:ring-2 focus:ring-indigo-200 
								focus:border-indigo-500 text-base pl-3 pr-10">
						<option value="1day">日足</option>
						<option value="1week">週足</option>
						<option value="1month">月足</option>
					</select>
					<span
						class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center">
						<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
							stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
							<path d="M6 9l6 6 6-6"></path>
						</svg>
					</span>
				</div>
				<!--ローソクEND-->
				<!--本数-->
				<div class="relative ml-3">
					本数：
					<select id="rowSelector" class="rounded border appearance-none border-gray-300 py-1 focus:outline-none focus:ring-2 focus:ring-indigo-200 
								focus:border-indigo-500 text-base pl-3 pr-10">
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="75">75</option>
						<option value="100" selected>100</option>
					</select>
					<span
						class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center">
						<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
							stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
							<path d="M6 9l6 6 6-6"></path>
						</svg>
					</span>
				</div>
				<!--本数END-->
				<!--テクニカル-->
				<div id="technicalDropdown" class="relative inline-block mx-2">
					<button id="technicalDropdownButton" class="rounded border appearance-none border-gray-300 py-1 focus:outline-none focus:ring-2 focus:ring-indigo-200 
							focus:border-indigo-500 text-base pl-3 pr-10">
						テクニカル
					</button>
					<span
						class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center">
						<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
							stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
							<path d="M6 9l6 6 6-6"></path>
						</svg>
					</span>
					<div id="technicalDropdownMenu"
						class="absolute hidden mt-1 bg-white border border-gray-400 shadow-2xl drop-shadow-lg rounded-lg p-2 min-w-max">
						<label class="block"><input type="checkbox" value="sma"> 移動平均線</label>
						<label class="block"><input type="checkbox" value="ichimoku"> 一目均衡表</label>
						<label class="block"><input type="checkbox" value="bbands"> ボリンジャーバンド</label>
					</div>
				</div>
				<!--テクニカルEND-->
				<!--トレンドライン-->
				<div id="trendLine" class="relative flex flex-row">
					<input type="checkbox" id="trendLinePen" name="trendLineTool" class="hidden">
					<label for="trendLinePen" id="trendLinePenLabel" 
						class="rounded border appearance-none border-gray-300 transition
							hover:outline-none hover:ring-2 hover:ring-indigo-200 hover:border-indigo-500 text-base px-2 h-full flex items-center cursor-pointer">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="currentColor">
								<path d="M21.7 7.3l-5-5a1 1 0 00-1.4 0l-11 11a1 1 0 00-.3.6l-1 5a1 1 0 001.2 1.2l5-1a1 1 0 00.6-.3l11-11a1 1 0 000-1.4zM17 4.4l2.6 2.6-1.3 1.3L15.7 5.7 17 4.4zM5 17l.7-3.3L14 5.4l2.6 2.6-8.3 8.3L5 17z"/>
							</svg>
					</label>
					<input type="checkbox" id="trendLineEraser" name="trendLineTool" class="hidden">
					<label for="trendLineEraser" id="trendLineEraserLabel"
						class="rounded border appearance-none border-gray-300 transition
							hover:outline-none hover:ring-2 hover:ring-indigo-200 hover:border-indigo-500 text-base px-2 ml-1 h-full flex items-center cursor-pointer">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="currentColor">
							  <path d="M20.3 7.7l-4-4a1 1 0 00-1.4 0l-9.6 9.6a2 2 0 000 2.8l4 4a2 2 0 002.8 0l9.6-9.6a1 1 0 000-1.4zM10.1 18.3L6.7 14.9l2.8-2.8 3.4 3.4-2.8 2.8zm4.2-4.2l-3.4-3.4 3.8-3.8 3.4 3.4-3.8 3.8zM4 21h12a1 1 0 000-2H4a1 1 0 000 2z"/>
							</svg>
					</label>
				</div>
				<!--トレンドラインEND-->
			</div>
			<!--グラフ表示-->
			<div id="chartContainer" class="charts-wrapper w-full flex flex-col h-full">
				<div id='candlestick-chart-container' class="graph w-full">
					<canvas id="candlestick-chart"></canvas>
				</div>
				<div id='volume-chart-container' class="graph w-full">
					<canvas id="volume-chart"></canvas>
				</div>
			</div>
			<!--グラフ表示END-->
		</div>
	</div>
	<script src="/js/graph-height-adjust.js" defer></script>
</div>